/*varaibles*/

$coloresPrincipales: (
  primero: #071952,
  segundo: #0b666a,
  tercero: #35a29f,
  cuarto: #97feed,
  quinto: #0d2a88,
);
$colorLetraTitulo: white;
$colorLetraCarrusel: black;
$colorTituloNoticia: white;
$colorSubTituloNoticia: white;
$colorContenidoNoticia: white;
