/*Estilos de formularios */
.formularioContacto {
  font-style: normal;
  font-family: "CaviarDreams";
  #formulario {
    #botones {
      display: flex;
      justify-content: center;
      button {
        margin: 10px;
        background-color: map-get($coloresPrincipales, primero);
        border: map-get($coloresPrincipales, primero);
      }
      input {
        margin: 10px;
        background-color: map-get($coloresPrincipales, tercero);
        border: map-get($coloresPrincipales, tercero);
      }
    }
  }
  #btnEnviar {
    text-align: center;
  }
}
